@import "./sidebar";

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/halvetica/Helvetica-Bold.ttf') format("ttf");
  // src: url('../fonts/halvetica/Helvetica-Bold.ttf') format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/halvetica/Helvetica.ttf') format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold ☞';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Bold ☞'), url('../fonts/gilroy/Gilroy-Bold.woff') format('woff');
}
  

@font-face {
  font-family: 'Gilroy-Heavy ☞';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Heavy ☞'), url('../fonts/gilroy/Gilroy-Heavy.woff') format('woff');
}
  

@font-face {
  font-family: 'Gilroy-Light ☞';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Light ☞'), url('../fonts/gilroy/Gilroy-Light.woff') format('woff');
}


@font-face {
  font-family: 'Gilroy-Medium ☞';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Medium ☞'), url('../fonts/gilroy/Gilroy-Medium.woff') format('woff');
}
  

@font-face {
  font-family: 'Gilroy-Regular ☞';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Regular ☞'), url('../fonts/gilroy/Gilroy-Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden; 

  * {
    font-family: 'Gilroy-Regular ☞', sans-serif !important;

    &::selection {
      background-color: var(--primary-color);
      color: #fff; 
    }
  }

  &::-webkit-scrollbar {
    width: 12px;
    height: auto; 
  }

  &::-webkit-scrollbar-thumb {  
    background-color: var(--primary-color); 
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: var(--primary-color-hover);
  }

  &::-webkit-scrollbar-track {
    background: #FFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1); 
  }

}

.btn-primary {
  background-color: var(--primary-color);
  color: #FFF;
  font-weight: bold;
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color-hover)!important;
}

.btn-outline-primary {
  font-weight: bold;
  border-color: var(--primary-color)!important;
  color: var(--primary-color)!important;
}

.btn-outline-primary:hover {
  background-color: var(--primary-color)!important;
  color: #FFF!important;
}


.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 40px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 50%;
  margin-bottom: 1rem;
  margin-left: 0;
  column-gap: 22px!important;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: var(--primary-color);
}

.carousel-dark .carousel-indicators [aria-current=false] {
  background-color: #D9D9D9;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

div {
  width: 100%;
}

header {
  img.tel {
    width: 488px;
    height: 476px;
    position: absolute;
    right: 180px;
    top: 210px;
    transform: rotate(5deg);
  }

  .small-header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);

    p {
      margin: 0;
      color: #FFF;
      font-size: 16px;
    }
  }

  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 150px;
    padding: 34px 100px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: #FFF;
    z-index: 7;

    a.logo {
      text-decoration: none;
      color: var(--primary-color);
      display: flex;
      align-items: center;
      gap: 28px;

      img {
        width: 83px;
        height: 77px;
      }

      h1 {
        font-size: 42px;
        font-weight: bold;
        margin: 0;
      }
    }

    .btns {
      width: max-content;
      gap: 44px;
      display: flex;

      .btn-primary {
        width: 215px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
      }

      .btn-outline-primary {
        border: 2px solid var(--primary-color);
        width: 132px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
      } 
    }
  }

  .header-content {
    margin-top: 150px;
    height: 470px;
    display: flex;
    flex-direction: column;
    padding-top: 73px;
    padding-bottom: 86px;
    padding-left: 100px;
    padding-right: 100px;

    .header-title {
      font-family: "Gilroy-Bold ☞", sans-serif !important;
      font-weight: bold;
      font-size: 42px;
      width: 654px;
      text-transform: uppercase;
    }

    p {
      margin-top: 21px;
      font-size: 30px;
      font-weight: bold;
    }

    .btns {
      margin-top: 30px;
      display: flex;
      gap: 44px;

      .btn-primary {
        width: 220px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        border-radius: 44px;
      }
    }
  }
}

.menu-expand {
  display: none;
  width: 10%;
}

@media only screen and (max-width: 1425px) {
  header {
    img.tel {
      right: 100px;
    }
  }
}

@media only screen and (max-width: 1333px) {
  header {
    img.tel {
      right: 50px;
    }
  }
}

@media only screen and (max-width: 1285px) {
  header {
    img.tel {
      right: 0px;
    }
  }
}

@media only screen and (max-width: 1234px) {
  header {
    img.tel {
      width: 35%;
      height: auto;
    }
  }
}

@media only screen and (max-width: 1152px) {
  header {
    .header-content {
      .header-title {
        width: 554px;
      }
    }

    img.tel {
      width: 45%;
      height: auto;
    }
  }
}

@media only screen and (max-width: 1026px) {
  header {
    .header-content {
      p {
        font-size: 24px;
      }
    }
  }
  
}

@media only screen and (max-width: 927px) {
  header {
    nav {
      a.logo {
        .header-title {
          font-size: 32px;
        }
      }

      .btns {
        gap: 22px;

        .btn-primary {
          font-size: 16px;
          width: 190px;
          height: 55px;
        }

        .btn-outline-primary {
          font-size: 16px;
          width: 120px;
          height: 55px;
        }
      }
    }

    .header-content {
      padding-top: 40px;

      .header-title {
        font-size: 32px;
        width: 454px;
        z-index: 2;
      }

      p {
        margin-top: 15px;
        margin-bottom: 0;
        z-index: 2;
      }

      .btns {
        margin-top: 25px;

        .btn-primary {
          font-size: 16px;
          width: 190px;
          height: 55px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  header {
    nav {
      padding: 34px 60px;
    }

    .header-content {
      padding: 34px 60px;
      padding-bottom: 16px;
      height: 300px;
    }
  }
}

@media only screen and (max-width: 800px) {
  header {
    img.tel {
      width: 35%;
    }
  }
}

@media only screen and (max-width: 725px) {
  .header-content{
    height: 350px!important;
  }
}

@media only screen and (max-width: 700px) {
  
  header {
    
    img.tel {
      display: none;
    }

    nav {
      padding: 24px 20px;

      a.logo {
        gap: 18px;

        img {
          width: 50px;
          height: auto;
        }
      }
    }

    .header-content {
      padding: 24px 20px;

      .header-title {
        margin: 0 auto;
        text-align: center;
      }

      p {
        text-align: center;
      }

      .btns {
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 586px) {
  header {
    nav {
      .btns {
        .btn-primary {
          display: none;
        }
      }
    }

    .header-content {
      .header-title {
        font-size: 18px;
        width: 354px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}


section.statistics {
  margin-top: 100px;

  .statistics-banner {
    height: 200px;
    background-color: var(--primary-color);

    p {
      font-size: 24px;
      color: #FFF;
      text-align: center;
      max-width: 350px; 
    }
  }

  .stat-wrapper {
    height: 200px;
    display: flex;
    align-items: center;
    width: 100%;
    
    .stat-col {
      padding-left: 50px;
  
      h1, h4 {
        text-align: right;
      }

      h1 {
        font-size: 48px;
        font-weight: bold;
        width: 100%;
      }

      h4 {
        margin-top: 10px;
        color: var(--primary-color);
        font-weight: bold;
        font-size: 18px;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1128px) {
  section.statistics .stat-wrapper .stat-col {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 1040px) {
  section.statistics {
    .stat-wrapper {
      height: auto;
      padding: 30px 0;
    } 

    .row {

      .statistics-banner {
        width: 100%;
      }

      .col-md-8 {
        width: 100%;

        .stat-wrapper {
          width: 100%;
        }
      }
    }
  }
}

// section.benefits {
//   margin-top: 100px;

//   h2, p {
//     font-weight: bold;
//     text-align: center;
//   }
  
//   h2 {
//     font-size: 34px;
//   }

//   p {
//     font-size: 24px;
//   }
  
//   .benefits-content {
//     margin-top: 77px;
//     padding: 0 300px;
//   }

//   .benefit-col .benefit-col-header {
//     height: 121px;
//   }

//   .benefits-content .benefit-col-body {
//     h4 {
//       font-size: 24px;
//       margin-top: 27px;
//       margin-bottom: 21px;
//       font-weight: bold;
//     }

//     p {
//       font-weight: normal;
//       font-size: 18px;
//     }
//   }
// }

section.first-slider {
  margin-top: 100px;

  .carousel-item {
    padding: 60px 100px;
    margin-bottom: 50px;
  

    h1 {
      font-size: 34px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 50px;
    }

    .item-content {
      height: initial!important;
      display: flex;
      align-items: center;

      p {
        font-size: 31px;
        max-width: 512px;
        text-align: center;
      }
    }
    
  }
}

section.info-content {
  height: 350px;
  background-color: var(--primary-color);
  padding: 0px 100px;
  color: #FFF;
  margin-top: 100px;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 24px;
    font-family: "Gilroy-Bold ☞", sans-serif !important;
    text-align: center;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    text-align: right;
  }
}

@media only screen and (max-width: 1123px) {
  section.info-content {
    
    height: 250px;
  
    h3 {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 952px) {
  section.info-content {
    h3 {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 800px) {
  section.info-content {
    padding: 34px 60px;
  }
}

@media only screen and (max-width: 800px) {
  section.info-content {
    padding: 24px 20px;
  }
}

@media only screen and (max-width: 750px) {
  section.info-content {
    height: 300px;
  }
}

@media only screen and (max-width: 750px) {
  section.info-content {
    height: 300px;
    
  }
}

@media only screen and (max-width: 500px) {
  section.info-content {
    height: 350px;
  }
}

@media only screen and (max-width: 450px) {
  section.info-content {
    height: 400px;
  }
}

section.second-slider {
  height: 650px;
  margin-top: 100px;

  .carousel-item {
    padding: 0px 180px;
    margin-bottom: 50px;

    h1 {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 40px;
      height: 60px;
      font-family: "Gilroy-Bold ☞", sans-serif !important;
    }

    .item-content {
      margin-bottom: 100px;
      display: flex;
      align-items: center;

      .col-md-6 {
        height: 500px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 22px;
      }

      p {
        margin-top: 22px;
        font-size: 18px;
        max-width: 521px;
        margin-left: 69px;
        margin-bottom: 0;
        font-family: "Gilroy-Medium ☞", sans-serif !important;
      }
    }
    
  }
}

@media only screen and (max-width: 1350px) {

  section.second-slider {
    height: 650px;
    margin-top: 100px;
  
    .carousel-item {
      padding: 0px 100px;
    }
  }
  section.second-slider .carousel-item .item-content p {
    margin-left: 20px;
  }

  a.carousel-control-prev {
    width: 10%;
  }

  a.carousel-control-next {
    width: 10%;
  }
}

@media only screen and (max-width: 1025px) {
  section.second-slider {
    .carousel-item {
      h1 {
        height: 100px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  section.second-slider {
    margin-top: 40px!important;
    height: 850px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .carousel-item {
      padding: 0 20px;

      .item-content {
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        p {
          margin: 0;
          // text-align: center;
          padding-top: 20px;
          font-size: 16px;
        }

        .col-md-6 {
          width: 100%;
          padding: 0;
        }
      }

      h1 {
        height: 120px;
        font-size: 24px;
        display: flex;
        align-items: center;
      }
    }
  }

  .carousel {
    height: 100%;

    .carousel-indicators {
      bottom: -40px;
    }
  }

  a.carousel-control-prev {
    width: 10%;
    display: none;
  }

  a.carousel-control-prev {
    img {
      width: 30px;
    }
  }

  a.carousel-control-next {
    display: none;

    width: 10%;
  }

  a.carousel-control-next {
    img {
      width: 30px;
    }
  }
}

@media only screen and (max-width: 600px) {
  section.second-slider {

    .carousel-item {

      .item-content {

        .col-md-6 {
          height: 400px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  section.second-slider .carousel-item h1 {
    font-size: 18px;
    height: 80px;
    margin: 0;
  }
}

section.signing-types {
  margin-top: 100px;

  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: "Gilroy-Bold ☞", sans-serif !important;
  }

  p {
    text-align: center;
    font-weight: bold;
  }

  .signing-types-content {
    margin-top: 77px;
    padding: 0px 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    
    .signing-types-col {


      .signing-types-col-body {
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1070px) {
  section.signing-types {
    .signing-types-content {
      padding: 0px 50px;
      column-gap: 40px;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 767px) {
  section.signing-types {
    margin-top: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
      font-size: 18px;
    }
  }
}


section.companies {
  margin-top: 100px;
  overflow-x: hidden;

  h2 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: "Gilroy-Bold ☞", sans-serif !important;
  }

  .companies-content {
    width: calc(300px * 6 + (50px * 5)); 
    gap: 50px;
    animation: marquee 19.68s ease-in-out infinite ;

    .company {
      width: 300px;
      height: 300px;
      background-color: #D9D9D9;
      border-radius: 11px;
    }
  }
  
}

@keyframes marquee {
  0% {
    transform: translateX(-20%);
  }

  50% {
    transform: translateX(1%);
  }

  100% {
    transform: translateX(-20%);
  }
}

section.pricing {
  margin-top: 100px;

  h2 {
    font-size: 34px;
    font-weight: bold;
    font-family: "Gilroy-Bold ☞", sans-serif !important;
  }

  .pricing-content {
    margin-top: 40px;
    gap: 50px;
    flex-wrap: wrap;
    
    .price-box {
      display: flex;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      width: 279px;
      height: 320px;
      padding: 27px 18px 18px 18px;
      border-radius: 11px;
      border: 1px solid #EFEFEF;

      p {
        margin: 0;
      }

      p:nth-child(1) {
        margin-top: 2px;
      }

      h4 {
        font-size: 24px;
        font-weight: bold;
        font-family: "Gilroy-Bold ☞", sans-serif !important;
      }

      h3 {
        font-size: 32px;
        color: var(--primary-color);
        font-family: "Gilroy-Bold ☞", sans-serif !important;

        span {
          font-size: 18px;
        }
      }

      .price-types {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 12px;
        width: 100%;
        height: 30px;
        border-radius: 7px;
        border: 1px solid #EFEFEF;
        margin-top: auto;
      }

      .btn {
        width: 100%;
        height: 50px;
        margin-top: 29px;
        font-family: "Gilroy-Bold ☞", sans-serif !important;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}

@media only screen and (max-width: 1320px) {
  section.pricing {
    .pricing-content {
      gap: 20px;
    }
  }
}

@media only screen and (max-width: 1220px) {
  section.pricing {
    .pricing-content {
      
      .price-box {
        width: 360px;
      }
    }
  }
}

section.banner {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 52px;

  a.logo {
    img {
      width: 145px;
      height: 134px;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;

    h2 {
      font-weight: bold;
      color: var(--primary-color);
      font-size: 42px;
      margin-top: 0;
      margin-bottom: 12px;
    }

    h4 {
      font-size: 18px;
      margin: 0;
    }
  }
}

footer {
  margin-top: 100px;

  padding: 100px 100px;

  h4 {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    font-family: "Gilroy-Bold ☞", sans-serif !important;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    margin-top: 28px;
    margin-bottom: 70px;

    &:first-child {
      width: 260px;
    }

    li {
      a {
        text-decoration: none;
        color: black;
        font-size: 18px;
      }
    }
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    padding: 50px 0px;

    .title {
      font-size: 31px;
    }

    .socials {
      display: flex!important;
      justify-content: flex-end!important;
      column-gap: 20px!important;
    }
  }
}

@media only screen and (max-width: 800px) {
  footer {
    padding: 80px 60px;
  }
}

@media only screen and (max-width: 700px) {
  footer {
    padding: 24px 20px;
  }
}

section.tabs {
  margin-top: 100px;
  
  ul.nav {
    padding: 0px 88px;
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden; 
    height: 80px;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      button {
        height: 80px;
        padding: 0px 40px;
        font-size: 18px;
        font-family: "Gilroy-Bold ☞", sans-serif !important;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        &[aria-selected="false"] {
          color: #707070;
          font-family: "Gilroy-Regular ☞", sans-serif !important;
        }

        &[aria-selected="true"] {
          color: #1E1E1E;
        }
      }
    }
  }
  .tab-content {
    .tab-content {
      padding: 42px 140px 0 140px;

      .row {
        column-gap: 70px;
        justify-content: center;
      }

      img {
        width: 100%;
        border-radius: 14px;
      }

      ul.feature-list {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        padding-top: 42px;

        li {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            display: block;
            left: -25px;
            top: 5px;
            width: 13px;
            height: 12px;
            background-image: url("../fonts/tabs/checkbox.svg");
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 0.5em; /* Adjust the space */
          }
          
        }
      }
    }
  }
}

@media only screen and (max-width: 1120px) {
  section.tabs {
    .tab-content {
      .tab-content { 
        .row {
          column-gap: 40px;
        }

        ul.feature-list {
          padding-top: 0;

        }
      }
    }
  } 
}

@media only screen and (max-width: 1045px) {
  section.tabs {
    .tab-content {
      .tab-content {
        padding: 42px 100px 0 100px;
      }
    } 
  }
}

@media only screen and (max-width: 927px) {
  section.tabs {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 800px) {
  section.tabs {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 761px) {
  section.tabs {
    .tab-content {
      .tab-content {
        .row {
          row-gap: 40px;
          align-items: center;
          justify-content: center;
        }

        ul.feature-list {
          width: 400px;
          margin: 0 auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  section.tabs {
    .tab-content {
      .tab-content {

        ul.feature-list {
          width: 300px;
          margin: 0 auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  section.tabs {
    .tab-content {
      .tab-content {

        ul.feature-list {
          width: 200px;
          margin: 0 auto;
        }
      }
    }
  }
}




main {
  display: flex;
  justify-content: center;
  height: 840px;
  padding: 40px 100px;
  column-gap: 104px;
  margin-top: 150px;

  .main-img {
    width: 45%;

    img {
      width: 100%;
      height: 100%;
      margin: 0;
      // width: 641px;
      object-fit: cover;
      border-radius: 11px;
    }
  }

  .main-content {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    label {
      margin-bottom: 12px;
    }

    input {
      border: 1px solid #000;
      height: 60px;
      padding: 20px 22px;
      font-size: 18px;
      border-radius: 11px;
      background-color: #FFF;
    }

    .form-group:not(:first-child) {
      margin-top: 32px;
    }

    .form-control:focus {
      color: #000;
      background-color: #FFF;
      border-color: #000;
      outline: 0;
      box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
    }

    button {
      width: 100%;
      height: 60px;
    }

    .form-check {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      column-gap: 13px;

      input {
        padding: 14px;
        height: 28px;
        float: none;
        margin: 0;
      }

      label {
        margin: 0;
      }
    }

    a.forgot-pass {
      width: 100%;
      color: #71717A;
      text-decoration: none;
      text-align: right;
    }

    p.reminder {
      margin-top: 30px;

      a {
        color: var(--primary-color);
        text-decoration: none;
        display: block;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 1000px){
  main{
    .main-img{
      display: none!important;
    }
    .main-content{
      width: 70%;
      margin-top: 100px;
    }
  }
}

@media only screen and (max-width: 610px){
  main{
    padding: 50px;
    .main-img{
      display: none!important;
    }
    .main-content{
      width: 100%;
      margin-top: 0px;
    }
  }
}



.dropdown {
  width: 15%;
  margin-left: auto;
  margin-right: 44px;
  transition: all 1s ease-in-out;
}

.icon {
  transition: all 0.2s ease-in-out;
  
}

.open {
  transform: rotate(180deg);
}

.dropbtn {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: all 1s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--primary-color);
  background: white;
  column-gap: 10px;
}

/* Dropdown container (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFF;
  min-width: 160px;
  z-index: 1;
  transition: all 1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 4px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a.active {
  background-color: #f1f1f1;
}

.dropdown-content a.active:hover {
  background-color: #f1f1f1;
}

.dropdown-content a:not(.active):hover {
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}